header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
body{
    background-image: url(../IMAGE/pattern.jpg);
    margin: 0px;
}
ul{
list-style-type: none;
}
li{
    display: inline;
    margin-right: 10px;
    
}
a{
    text-decoration: none;
    
}
main{
    background-color: white;
    margin: 5% 15% 5%;
    padding: 20px;
}
h1{
    text-align: center;
}
article{
border-bottom: 5px solid black;
margin-top: 20 ;
}
footer{
    background-color: black;
    padding: 20px;
}
h5{
    color: white;
    text-align: center;
}